/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #ffb1ae;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-green: #9cbf8d;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 150ms;
}

body {
  margin: 0;
  font-family: "Nanum Brush Script", cursive;
  font-family: "Titillium Web", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/*section*/
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
  min-height: 500px;
}

/*navbar*/
#navbar {
  display: flex;
  justify-content: space-between;
  background: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 6px;
  width: 100%;
  overflow-x: auto;
  position: fixed;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-green);
  padding: 4px;
}

.navbar__logo {
  font-size: 20px;
  font-weight: var(--weight-semi-bold);
  float: left;
  margin-bottom: auto;
  margin-left: 15px;
}

.navbar__menu {
  display: flex;
  margin: 0 0;
}

.navbar__menu__item {
  padding: 6px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border-radius: var(--size-border-radius);
  border: 1px solid --color-white;
}
.navbar__menu__item:hover {
  background-color: var(--color-pink);
  border-radius: var(--size-border-radius);
  border: solid 1px #eeeeee;
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/*profile*/
#profile {
  background: url(imgs/home-background.png) center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.profile_avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.profile_title,
.profile_description {
  color: var(--color-white);
}

.profile_contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  cursor: pointer;
}

.profile_contact.activate {
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.profile_contact:hover {
  background-color: var(--color-pink);
  border-radius: var(--size-border-radius);
}

/*About*/
#about {
  background-color: var(--color-white);
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.about_title {
  margin-top: auto;
  margin-bottom: 40px;
  font-size: 60px;
  color: var(--color-green);
}

.about_image {
  width: 150px;
  height: 150px;
}

.about_school {
  size: 30px;
}

.about_history {
  text-align: center;
  margin-left: auto;
  color: var(--color-green);
  font-size: medium;
}
/*Skills*/
#skills {
  background-color: var(--color-green);
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.skill_title {
  margin-top: auto;
  font-size: var(--font-large);
  color: var(--color-white);
  text-align: center;
}

.skill_stacks {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}

.stack_icon {
  width: 130px;
  height: 130px;
  line-height: 170px;
  font-size: 80px;
  margin: auto;
  color: var(--color-white);
  margin-bottom: 16px;
}
.stack_icon:hover i {
  color: var(--color-pink);
  transform: scale(1.2);
}
.stack_icon i {
  transition: all var(--animation-duration) ease;
}

.stack_title {
  color: rgb(124, 124, 124);
}

/*projects*/
#projects {
  background-color: var(--color-white);
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.projects {
  display: flex;
  justify-content: space-evenly;
}

.project {
  background-color: var(--color-green);
  border: 1px solid var(--color-white);
  text-align: center;
  width: 360px;
  height: 300px;
  padding: 30px 0;
}

.project_name {
  color: var(--color-white);
  font-size: 40px;
  font-weight: var(--weight-bold);
}

.project_description {
  color: var(--color-white);
  font-size: var(--font-small);
}

.project_link {
  font-size: 50px;
  color: var(--color-green);
}

/*contact*/
#contact {
  background-color: var(--color-green);
  padding: 60px 0;
  padding-top: 70px;
  text-align: center;
}

.contact__container {
  text-align: center;
  padding-top: 70px;
  vertical-align: middle;
}

.contact_title {
  color: var(--color-white);
  font-size: 60px;
}

.contact_mail {
  color: var(--color-white);
  font-size: 30px;
}

.contact_links {
  font-size: 50px;
  margin: 0 80px;
}

.contact_rights {
  color: var(--color-white);
  font-size: 15px;
  padding-top: 80px;
}

/*arrow*/

.arrowup {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 20px;
  background-color: var(--color-light-grey);
  color: #eeeeee;
  width: 40px;
  height: 40px;
  opacity: 0;
  transition: all 300ms ease-in;
  border-radius: var(--size-border-radius);
}

.arrowup.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__toggle-btn {
    display: block;
    top: 16px;
    right: 16px;
    font-size: var(--font-medium);
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
  }

  #navbar.navbar--dark {
    padding: 6px;
    background-color: var(--color-green);
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .contact__container {
    padding-top: 0;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  .arrowup {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
    padding: 0;
  }
}
